/* .dict-container:hover {
  box-shadow: 0 8px 56px 0 rgba(0,0,0,0.2);
} */

.dict-container {
  min-height: 480px;
  min-width: 480px;
  max-height: 480px;
  max-width: 480px;

  height: 480px;
  width: 480px;
  border: 1px solid red;
}

.dict-container.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dict-container.has-data {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.word-header {
  max-height: 36px;
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
.sound {
  margin-right: 10px;
}
.word-exchange {
  display: flex;
  border-bottom: 1px solid black;
}
.word-exchange span {
  margin-right: 10px;
}
.word-name {
  margin-right: 20px;
}
.knowtype {
  margin-right: 20px;
}
.word-phonetic {
  display: inline-flex;
  margin-right: 10px;
}
.word-explain-zh {
  border-bottom: 1px solid green;
}
.word-explain-item {
  margin: 0;
  padding: 0px;
}

.word-explain-container {
  overflow: auto;
  border-bottom: 1px solid black;
  height: 460px;
  max-height: 460px;
  min-height: 460px;
  flex: 1;
}

.vh-actions {
  display: flex;
  justify-content: center;
}